/* color Top*/

:root {
  --primery-color: #22b3c1;
  --secondery-color: #232223;
  --white-color: #ffffff;
  --text-color: #afafaf;
  --ass-black-color: #2a2a2a;
  --text-champagne-color: #f6eac5;
  --border-color: #eee;
  --france-link-color: #0a58ca;
  --as-backgroud-color: #f7f7f7;
  --icon-backgroud-color: #f0f0f0;
  --cta-border-color: #e0e0e0;
}

/* ////////////////////////////////////// */
/* ABOUT TURE SECTION */
/* ////////////////////////////////////// */

.deals-section {
}
.deals-container {
}
.deals-background-img {
  background-image: url(../images/heading-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 260px 0px 190px 0px;
}

.deals-title{
  font-size: 20px;
  font-weight: 500;
  color: var();
}
.deals-big-title{

}
.deals-link
