* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  background: #fff;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body:not(.light) {
  background: #232223;
  color: #fff;
}

.d-flex {
  display: flex;
}

.a-item-center {
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
